body{
font-family:'Merriweather', serif;
margin:0 auto;
}
.wrapper{
  width: 100%;
  margin: 0 auto;
}

#site-header{
  background-color: #FFFFFF;
  padding-left: 20px;
  display:flex;
  height: 60px;
  position: fixed;
  width:100%;
  top:0;
  left:100;
  right:200;
  box-shadow: 0 0 20px 0 #968772;
}
.logo-image{
  align-self: center;
}

#logo img{
height:2.5em;
}
.image{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Nav-bar {
  display: flex;
  align-items: center;
  width: 1270%;
  justify-content: center;
  margin-right: 80px;
}
#main-nav{
  display: flex;
  justify-content: center;
}
#main-nav a{
  text-transform: uppercase;
  color: #2B2F26;
  padding: 20px;
  text-decoration: none;
}
#HowItWorks{
  display: flex;
  flex-direction: row;
  width: 100%;
  line-height: 3rem;
  justify-content: flex-end;
  margin-bottom: 150px;
  background-image: url(images/upcloseplant.png);
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.aboutProduct{
  margin-right: 50px;
  width:600px;
  color:white;
  align-self: center;
}

.whatsinit{
  color: white;
  align-self: center;
  width:500px;
  margin-right: 50px;
}

#benefits{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  margin-bottom: 125px;
}

#benefits h2{
  text-align: center;
  justify-content: center;
  align-self: center;
}

.headerBenefits{
  display: flex;
  flex-direction: column;
}

.aboutBenefits {
  display: flex;
  flex-direction: row;
  line-height: 3rem;
  justify-content: center;
  align-self: center;
}

.aboutBenefits p{
  margin-right: 50px;
}

.benefitImages{
  justify-content: center;
  align-self: center;
  flex-direction: row;
}

.benefitImages img{
  margin-top: 50px;
  width: 200px;
}

.imagetag{
  flex-direction: row;
}

#cost{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-image: url(images/soil.png);
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headerCost{
  color:white;
  line-height: 3rem;
  justify-content: center;
  margin-left: 100px;
}
