body{
  font-family:'Merriweather', serif;
margin:0;
}
.wrapper{
  background-color:#F2F1E8;
  width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}
#site-header{
  background-color: #FFFFFF;
  padding-left: 20px;
  display:flex;
  height: 60px;
  position: fixed;
  top:0;
  left:100;
  right:200;
  width: 1260px;
  /*justify-content: center;*/
  box-shadow: 0 0 20px 0 #968772;
}
#logo img{
height:2.5em;
}
.image{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Nav-bar {
  display: flex;
  align-items: center;
  width: 1270%;
  justify-content: center;
  margin-right: 80px;
}
#main-nav{
  display: flex;
  justify-content: center;
}
#main-nav a{
  text-transform: uppercase;
  color: ##2B2F26;
  padding: 20px;
}
#main-nav a:hover{
  color:#fff;
  background-color: #967343;
